/* 
    Page: Invoice
    */

    .invoice {
        position: relative;
        width: 96%;
        margin: 10px auto;
        background: #FFF;
        border: 1px solid #F4F4F4;
        padding: 20px 40px;
    }

    .invoice-title {
        margin-top: 0;
    }

    /* Enhancement for printing */
    @media print {
        .invoice {
            width: 100%;
            border: 0;
            margin: 0;
            padding: 0;
            position: static;
        }
        .invoice-col {
            float: left;
            width: 33.3333333%;
        }

        .table-responsive {
            overflow: auto;
            > .table tr th,
            > .table tr td {
                white-space: normal!important;
            }
        }
        .left-side{
            display:none !important;
        }
        .right-side{
            margin:0 !important;
        }

    }